body {
    font-family: Arial, sans-serif;
    background-color: #3d6376;
    text-align: center;
  }
  
  input {
    padding: 6px;
    width: 250px;
    border: 2px solid black;
  }
  
  button {
    padding: 6px 10px;
    background-color: #2ea44f;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  ul {
    list-style: none;
    padding: 0;
    width: 350px;
    margin: 20px auto;
    background: white;
  }
  
  li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #7a9174;
  }
  
  li.completed {
    text-decoration: line-through;
    color: gray;
  }
  
  li button {
    background-color: #e55353;
    padding: 4px 8px;
  }
