body {
  min-height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f3f3f3;
  font-family: Arial, sans-serif;
}

.app {
  background-color: white;
  padding: 30px;
  width: 90%;
  max-width: 500px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  text-align: center;
}

h1 {
  margin-bottom: 10px;
}

input {
  padding: 12px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button {
  padding: 12px;
  font-size: 16px;
  background-color: #2ea44f;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #238636;
}
