body {
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 90%;
  max-width: 400px;
  background: white;
  padding: 20px;
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 2px solid black;
}

button {
  padding: 8px 12px;
  background-color: #2ea44f;
  color: white;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

li.completed {
  text-decoration: line-through;
  color: gray;
}

li button {
  background-color: #e55353;
  padding: 4px 8px;
}
