* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;

  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 90%;
  max-width: 400px;
  background-color: white;
  padding: 24px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 2px solid black;
  margin-bottom: 12px;
  font-size: 16px;
}

button {
  padding: 10px 16px;
  background-color: #2ea44f;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #279043;
}
